body{
    text-align: center;
    padding: 0;
    margin: 0;
    
}
#input {
    width: 60%;
    padding: 7px;
    border-radius: 10px;
}
#add {
    padding: 7px;
    width: 7%;
    border-radius: 10px;
}
.cssItems{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#items {
    width: 70%;
    list-style: none;
    padding-left: 0;
}

#myLi {
    margin: 7px 0px;
    background-color: rgb(83, 223, 241);
    padding: 7px;
    border: 2px solid rgb(10, 10, 86);
    border-radius: 10px;
    text-align: start;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#dltBtn {
    width: 45px;
    height: 25px;
    background-color: white;
    border: none;
    border-radius: 10px;
    justify-self: end;
    color: red;
    font-size: large;
}
